PROFILE=`pwd`/profile
if [[ -a $PROFILE ]]; then export GUIX_PROFILE=$PROFILE; fi
use guix
GUILE_LOAD_PATH=`pwd`:$GUIX_PROFILE/share/guile/site/3.0:$GUILE_LOAD_PATH
GUILE_LOAD_COMPILED_PATH=$GUIX_PROFILE/lib/guile/3.0/site-ccache:$GUILE_LOAD_COMPILED_PATH
